extends layout.pug

block content
    h1 Welcome to Dental Ipsum<br><small class="text-muted">A dental jargon-based Lorem Ipsum Generator</small>
    div.row.align-items-center.justify-content-center.text-center
        div.col-12
            a(class='button' href='/ipsum') Generate Sentence
            a(class='button' href='/ipsum-long') Generate Paragraph